= link_to '< Go to Authors', authors_path

- flash.each do |name, msg|
  %p{class: ["alert", name]}
    = msg

%p
  %b First name:
  = @author.first_name
%p
  %b Last name:
  = @author.last_name
%p
  %b Slug:
  = @author.slug
%p
  %b Pen name:
  = @author.pen_name

= link_to 'Edit', edit_author_path(@author)
\|
= link_to 'Back', authors_path
